@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    color: rgb(237, 250, 240);
}

body {
    overflow: hidden;
}

main {
    background: rgb(85,109,119);
    background: -moz-linear-gradient(357deg, rgba(85,109,119,1) 0%, rgba(33,48,102,1) 100%);
    background: -webkit-linear-gradient(357deg, rgba(85,109,119,1) 0%, rgba(33,48,102,1) 100%);
    background: linear-gradient(357deg, rgba(85,109,119,1) 0%, rgba(33,48,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#556d77",endColorstr="#213066",GradientType=1);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.title {
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 1.6rem;
}

.container {
    margin: auto;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: grid;
    column-gap: 2rem;
    row-gap: 3rem;
    border: 1px white solid;
    grid-template-rows: repeat(4, 1fr);
}

.key {
    border: 2px solid rgb(166, 166, 190);
    text-transform: uppercase;
    min-width: 60px;
    min-height: 60px;
    border-radius: 10px;
    background: none;
    margin: 0 1rem;
    font-size: 1rem;
}

/*
***** Calculations *****

Each 0.5cm acts as 1fr

Normal -> 1.5 cm = 3fr
Backspace -> 3 cm = 6fr
Tab -> 2.5 cm = 5fr
Caps -> 2 cm = 4fr
Enter -> 4 cm = 8fr
LShift -> 3.5 cm = 7fr
RShift -> 4 cm = 8fr
\ -> 2cm = 4fr

1st row -> 22.5 cm = 45fr
2nd row -> 22.5 = 45fr
3nd row -> 22.5 = 45fr
4th row -> 22.5 = 45fr
*/

.flex {
    display: grid;
    margin: auto;
    width: 100%;
    grid-row: span 1;
    grid-template-columns: repeat(45, 1fr);
}

.fr-3 {
    grid-column: span 3;
}

.fr-4 {
    grid-column: span 4;
}

.fr-5 {
    grid-column: span 5;
}

.fr-6 {
    grid-column: span 6;
}

.fr-7 {
    grid-column: span 8;
}

.fr-8 {
    grid-column: span 8;
}