@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', 'Roboto', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1em;
    color: rgb(237, 250, 240);
}

body {
    overflow: hidden;
}

main {
    background: rgb(85,109,119);
    background: -moz-linear-gradient(357deg, rgba(85,109,119,1) 0%, rgba(33,48,102,1) 100%);
    background: -webkit-linear-gradient(357deg, rgba(85,109,119,1) 0%, rgba(33,48,102,1) 100%);
    background: linear-gradient(357deg, rgba(85,109,119,1) 0%, rgba(33,48,102,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#556d77",endColorstr="#213066",GradientType=1);
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

.title {
    margin-top: 10%;
    text-transform: uppercase;
    text-align: center;
    font-weight: normal;
    font-size: 1.6rem;
}

.container {
    margin: auto;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
    display: grid;
    column-gap: 2rem;
    row-gap: 3rem;
}